.DS_Store
.LSOverride
DRClassItem.h
DRClassItem.m
build/Debug/PHP.sugar/CodeSenseLibraries/PHP.xml
build/Debug/PHP.sugar/CodeSenseProviders/PHP.xml
build/Debug/PHP.sugar/Contents/Info.plist
build/Debug/PHP.sugar/Contents/MacOS/PHP
build/Debug/PHP.sugar/Contents/Resources/English.lproj/InfoPlist.strings
build/Debug/PHP.sugar/Contents/Resources/class.png
build/Debug/PHP.sugar/Contents/Resources/document__plus.png
build/Debug/PHP.sugar/Contents/Resources/include.png
build/Debug/PHP.sugar/ContextualSettings/Comment.xml
build/Debug/PHP.sugar/Itemizers/PHP.xml
build/Debug/PHP.sugar/Languages.xml
build/Debug/PHP.sugar/PlaceholderThemes/PHP.css
build/Debug/PHP.sugar/SyntaxInjections/EmbeddedPHP.xml
build/Debug/PHP.sugar/Syntaxes/PHP+HTML.xml
build/Debug/PHP.sugar/Syntaxes/PHP.xml
build/Debug/PHP.sugar/TextActions/Categories.xml
build/Debug/PHP.sugar/TextActions/Snippets.xml
build/PHP.sugar.build/Debug/PHP.build/Objects-normal/i386/DRClassItem.o
build/PHP.sugar.build/Debug/PHP.build/Objects-normal/i386/DRImportItem.o
build/PHP.sugar.build/Debug/PHP.build/Objects-normal/i386/PHP.LinkFileList
build/PHP.sugar.build/Debug/PHP.build/PHP-all-target-headers.hmap
build/PHP.sugar.build/Debug/PHP.build/PHP-generated-files.hmap
build/PHP.sugar.build/Debug/PHP.build/PHP-own-target-headers.hmap
build/PHP.sugar.build/Debug/PHP.build/PHP-project-headers.hmap
build/PHP.sugar.build/Debug/PHP.build/PHP.dep
build/PHP.sugar.build/Debug/PHP.build/PHP.hmap
build/PHP.sugar.build/Debug/PHP.build/PHP~.dep
build/PHP.sugar.build/PHP.sugar.pbxindex/categories.pbxbtree
build/PHP.sugar.build/PHP.sugar.pbxindex/cdecls.pbxbtree
build/PHP.sugar.build/PHP.sugar.pbxindex/decls.pbxbtree
build/PHP.sugar.build/PHP.sugar.pbxindex/files.pbxbtree
build/PHP.sugar.build/PHP.sugar.pbxindex/imports.pbxbtree
build/PHP.sugar.build/PHP.sugar.pbxindex/pbxindex.header
build/PHP.sugar.build/PHP.sugar.pbxindex/protocols.pbxbtree
build/PHP.sugar.build/PHP.sugar.pbxindex/refs.pbxbtree
build/PHP.sugar.build/PHP.sugar.pbxindex/strings.pbxstrings/control
build/PHP.sugar.build/PHP.sugar.pbxindex/strings.pbxstrings/strings
build/PHP.sugar.build/PHP.sugar.pbxindex/subclasses.pbxbtree
build/PHP.sugar.build/PHP.sugar.pbxindex/symbols0.pbxsymbols