/*
	@theme PHP Placeholder
	@placeholder php
*/

@base {
	color: #333;
	background-color: #fff;
}

php {
	spell-check: disabled;
}

variable {
	color: #3d96fc;
	background-color: #f2fbfe;
}

include {
	color: #555;
	background-color: #f8f8f8;
	font-style: italic;
}

php function > name {
	color: #cc6cfc;
	background-color: #fbf2fe;
}