/*
	@theme PHP Placeholder
	@placeholder php
*/

@base {
	color: #333;
	background-color: #fff;
}

php {
	spell-check: disabled;
}

php > variable, php > variable > punctuation {
	color: #3d96fc;
	background-color: #f2fbfe;
}

php > include {
	color: #555;
	background-color: #f8f8f8;
	font-style: italic;
}