/*
	@theme PHP Placeholder
	@placeholder php
*/

@base {
	color: #333;
	background-color: #fff;
}

php {
	spell-check: disabled;
}

variable, string.double variable {
	color: #3d96fc;
	background-color: #f2fbfe;
}

php variable > group {
	color: #3482da;
	background-color: #f2fbfe;
}

class, container.function {
	background-color: #fcf8fe;
}

class.definition, function.definition {
	color: #fb9ffd;
}

class > name {
	color: #6700b9;
}

function > modifier {
	color: #d386d5;
}

include {
	color: #555;
	background-color: #f8f8f8;
	font-style: italic;
}

container.function > name {
	color: #cc6cfc;
	background-color: #fbf2fe;
}

identifier.function {
	color: #a2ce4e;
}

keyword {
	color: #6700b9;
}

integer {
    color: #6700b9;
	background-color: #fbf2fe;
}

phpDoc.keyword {
	color: #ad91ba;
}