/*
	@theme PHP Placeholder
	@placeholder php.html, php
*/

@base {
	color: #333;
	background-color: #fff;
}

php {
	spell-check: disabled;
	color: #333;
}

php variable, string.double variable, php keyword.constant.other {
	color: #4F9FCF;
}

php variable > group {
	color: #3482da;
	background-color: #f2fbfe;
}

php.definition{
	color: #d44950;
}

php name {
	color: #4f9fcf;
	newcolor: #6fbfff;
}

php modifier, php keyword.constant.class {
	color: #d48080;
}

php keyword.control.include {
	font-style: italic;
}

php keyword.definition {
	color: #699d36;
}

php identifier.function name, php literal.keyword {
	color: #699d36;
	font-weight: bold;
}

php integer {
    color: #6700b9;
	background-color: #fbf2fe;
}

php phpDoc.keyword {
	color: #ad91ba;
}