/*
	@theme PHP Placeholder
	@placeholder php
*/

@base {
	color: #333;
	background-color: #fff;
}

php {
	spell-check: disabled;
}

variable, string.double variable {
	color: #4F9FCF;
	newcolor: #6FBFFF;
}

variable > group {
	color: #3482da;
	background-color: #f2fbfe;
}

definition {
	color: #d44950;
}

name {
	color: #4f9fcf;
	newcolor: #6fbfff;
}

modifier {
	color: #d48080;
}

include {
	color: #555;
	background-color: #f8f8f8;
	font-style: italic;
}

identifier.function {
	color: #699d36;
	font-weight: bold;
}

integer {
    color: #6700b9;
	background-color: #fbf2fe;
}

phpDoc.keyword {
	color: #ad91ba;
}